<div>
    <div class="mainBody">
        <el-card class="loginCard">
            <div slot="header" class="clearfix">
                <span>
                    用户登录
                </span>
            </div>
            <table style="margin: 0 auto; border-spacing: 22px">
                <tr>
                    <td>用户名</td>
                    <td>
                        <el-input v-model="ruleForm.userId" placeholder="请输入用户名">
                        </el-input>
                    </td>
                </tr>
                <tr>
                    <td>密码</td>
                    <td>
                        <el-input type="password" v-model="ruleForm.password" placeholder="请输入密码" @keydown.enter.native="doLogin"></el-input>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <tr>
                            <el-button class="login-button" type="primary" @click="login">登录</el-button>
                        </tr>
                        <tr>
                            <el-button class="login-button" type="primary" @click="userAdd = true">注册</el-button>
                        </tr>
                    </td>
                </tr>
            </table>
        </el-card>
        <el-dialog title="注册" :append-to-body="true" :visible.sync="userAdd" :before-close="handleClose" width=40%>
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" class="demo-ruleForm" size="small" label-width="80px">
                <el-form-item>
                    <el-upload class="upload-demo" ref="upload" action="/api/users/upload-user-avatar" :data="{userId:ruleForm.userId}" :on-preview="handlePreview" :on-remove="handleRemove" :file-list="fileList" :auto-upload="false">
                        <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
                        <!-- <el-button style="margin-left: 10px;" size="small" type="success" @click="submitUpload">上传到服务器</el-button> -->
                        <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
                    </el-upload>
                </el-form-item>
                <el-form-item label="用户昵称" prop="userName">
                    <el-input v-model="ruleForm.userName"></el-input>
                </el-form-item>
                <el-form-item label="用户账号" prop="userName">
                    <el-input v-model="ruleForm.userId"></el-input>
                </el-form-item>
                <el-form-item label="密码" prop="password">
                    <el-input v-model="ruleForm.password" type="password"></el-input>
                </el-form-item>
                <el-form-item label="确认密码" prop="password">
                    <el-input v-model="repeatPassword" type="password"></el-input>
                </el-form-item>
                <el-button @click="cancel()" size="medium">取 消</el-button>
                <el-button @click="register()" type="primary" size="medium">注册</el-button>
                <span slot="footer" class="dialog-footer">
                  
                </span>
            </el-form>
        </el-dialog>
    </div>
</div>